################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TP5EDA/.vs/TP5EDA/v15/Browse.VC.opendb
